[Unit]
Description=Mandos Keyscript
After=network-online.target
Before=cryptsetup.target
Before=drbd.service
Before=zfs-load-module.service
Wants=network-online.target


[Service]
Type=oneshot
EnvironmentFile=/etc/sysconfig/mandos-keyscript
ExecStart=/sbin/mandos-keyscript-start
ExecStartPost=/sbin/mandos-keyscript-poststart
TimeoutSec=300


[Install]
WantedBy=cryptsetup.target
WantedBy=drbd.service
WantedBy=zfs-load-module.service
#WantedBy=network-online.target
#Also=systemd-networkd-wait-online.service
